.bandeau{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.chapeau{
    display: flex;
    align-items: center;
    margin-right: 8%;
 }

.logo{
    width: 10%;
    
}
.bouton{
    padding-left: 120px;
    font-size: 200%;
    color: black;
    text-decoration : none;
    
}

.bouton:hover{
    text-decoration : underline ;
    font-weight : bold;
}
.container
{
    margin-top: 40px;
  width:  100%; /*or 70%, or what you want*/
  height: 70%; /*or 70%, or what you want*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 425%;
  color: azure;
  display: flex;
    align-items: center;
    padding-left: 20px;
}

h1{
    text-align:center;
    font-size: 350%;
}

.produits{
    display: flex;
    justify-content: space-evenly;
}

.produit{
   display : flex;
   flex-direction: column;
   background-color: black;
   border-radius: 30px;
   padding: 8.5px;
}

.image{
    display : flex;
    background-color: grey;
    border-radius: 30px;
    padding:10px;
}

.box_price{
    display : flex;
    color : white;
    flex-direction: column;
    justify-content: center;
}

.reduc{
    display : flex;
    justify-content: flex-start;
    color: red;
    text-decoration : line-through;
    margin : 5px;
}

.price{
    text-align: center;
    margin : 5px
}